@import '@/assets/scss/partial.scss';
@import '@/assets/scss/variables.scss';

.venueHeroBanner{
    padding: 110px 0 50px;
    z-index: 1;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.8;
        z-index: -1;
    }
    @media (min-width: $sm ) {
        padding: 160px 0 80px;
    }
    @media (min-width: $md ) {
        padding: 160px 0 100px;
    }
    @media (min-width: $xl ) {
        padding: 220px 0 180px;
    }
    @media (min-width: $xxl ) {
        padding: 240px 0;
    }
    @media (min-width: $xxxl ) {
        padding: 280px 0;
    }
    .heroTitleWraper{
        max-width: 1158px;
        margin: 0 auto;
        .heroTitleInner{
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width: $sm ){
                display: block;
            }
            br{
                display: none;
                @media (min-width: $sm ){
                    display: block;
                }
            }
        }
    }
    .bgImage{
        object-position: top;
        @media (min-width: $sm ){
            object-position: center;
        }
        z-index: -2;   
    }
}