@import '@/assets/scss/partial.scss';
@import '@/assets/scss/variables.scss';

.speakersAttendingWrapper{
    .speakerCardList{
        .speakerCard{
            height: auto;
            padding: 0 5px;
            @media (max-width: 480px){
                width: 100%;
            }
            @media (min-width: 481px){
                height: 300px;
            }
            @media (min-width: $md){
                height: 320px;
            }
            @media (min-width: $lg){
                height: 350px;
                padding: 0;
            }
            @media (min-width: $xl){
                height: 380px;
            }
            @media (min-width: $xxl){
                height: 420px;
            }
            @media (min-width: $xxxl){
                height: 470px;
            }
            &::before,&::after{
                content: '';
                position: absolute;
                transition: all 0.6s;
            }
            &::after{
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../../../../../public/images/speaker-ine-bg.webp') no-repeat center;
                background-size: 100% 100%;
                z-index: -2;
                @media (min-width: $lg){
                    background-size: contain;
                }
                @media (min-width: $xxl){
                    background-size: cover;
                    width: calc(100% - -2px);
                }
            }
            &::before{
                bottom: 0;
                left: 0;
                width: 100%;
                height: 140px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $black 100%);
                z-index: -1;
            }
            &:hover{
                &::after{
                    background: url('../../../../../public/images/hover-speaker-ine-bg.webp') no-repeat center;
                    transition: all 0.6s;
                }
                .speakerProfile{
                    filter: grayscale(0) brightness(1);
                    transition: all 0.6s;
                }
            }
            &:nth-child(4n+2){
                @media (min-width: $xl){
                    margin-top: 20px;
                }
                @media (min-width: $xxl){
                    margin-top: 30px;
                }
            }
            &:nth-child(4n+3){
                @media (min-width: $xl){
                    margin-top: 40px;
                }
                @media (min-width: $xxl){
                    margin-top: 60px;
                }
            }
            &:nth-child(4n+4){
                @media (min-width: $xl){
                    margin-top: 60px;
                }
                @media (min-width: $xxl){
                    margin-top: 90px;
                }
            }
            .speakerProfile{
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                filter: grayscale(1) brightness(0.7);
                transition: all 0.6s;
                z-index: -3;
            }
            .speakerData{
                .speakerName{
                    font-size: 14px;
                    line-height: 1.18;
                    margin-bottom: 5px;
                    @media (min-width: $md){
                        font-size: 16px;
                    }
                    @media (min-width: $xxl){
                        font-size: 20px;
                    }
                    @media (min-width: $xxxl){
                        font-size: 24px;
                    }
                }
                .speakerDesignation{
                    font-size: 12px;
                    line-height: 1.2;
                    margin: 0;
                    @media (min-width: $md){
                        font-size: 14px;
                    }
                    @media (min-width: $xxl){
                        font-size: 18px;
                    }
                }
            }
            .speakersocialMediaList{
                @media (max-width: $xxl){
                    li{
                        a{
                            width: 30px;
                            height: 30px;
                            img{
                                max-height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}