@import '@/assets/scss/partial.scss';
@import '@/assets/scss/variables.scss';

.communityPartnersWrapper{
    .eventSponsorsList{
        row-gap: 24px;
        .newClass{
            text-align: center;
        }
        li{
            padding: 0 12px;
            .SponsorItem{
                min-height: 90px;
                padding: 10px;
                background-color: $grey0E;
                border-radius: 12px 0 0 12px;
                overflow: hidden;
                z-index: 1;
                @media (min-width: $sm){
                    min-height: 200px;
                    padding: 24px;
                    border-radius: 20px 0 0 20px;
                }
                @media (min-width: $lg) {
                    border-radius: 40px 0 0 40px;
                }
                @media (min-width: $xl){
                    padding: 30px;
                }
                @media (min-width: $xxl){
                    padding: 40px;
                }
                @media (min-width: $xxxl){
                    min-height: 220px;
                    padding: 50px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 1px;
                    height: 100%;
                    background: linear-gradient(180deg, $secondary 0.46%, $primary 100%);
                    z-index: -1;
                    transition: all 0.4s;
                }
                &:hover{
                    &::before{
                        width: 100%;
                        transition: all 0.4s;
                    }
                }
                img{
                    width: inherit;
                    max-height: 50px;
                    @media (min-width: $sm){
                        max-height: 116px;
                    }
                }
            }
        }
    }
}