@import '@/assets/scss/partial.scss';
@import '@/assets/scss/variables.scss';


.MaestroAwards{
    counter-reset: section;
}
.SubmissionRequirements{
    counter-reset: section;
}
.AdditionalInformation{
    counter-reset: section;
}

.awardsWrapper{
    .titleWrapper{
        h2{
            margin-bottom: 30px;
        }
        p{
            max-width: 1090px;
            margin-bottom: 20px;
        }
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // gap: 20px;
    }
}
.awardsLists{

    h3{
        display: inline-block;
    }
    ul{
        margin-top: 20px;
    }
    li{
        padding-left: 30px;
        position: relative;
        margin-bottom: 30px;
        h3{
            font-weight: 700;
        }
        p{
            margin-top: 10px;
        }
        &::before{
            content: counter(section)':';
            counter-increment: section;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 24px;
            color: $white;
            font-weight: 500;
        }
    }
}