@import '@/assets/scss/partial.scss';
@import '@/assets/scss/variables.scss';

.speakersAttendingWrapper{
    .ContentWrap{
        border-bottom: 1px solid white ;
        margin-bottom: 10px;
    }
    .speakersTitle{
        font-size: 20px;
        line-height: 1.18;
        margin-bottom: 6px;
        @media (min-width: $sm) {
            font-size: 26px;
            margin-bottom: 5px;
        }
        @media (min-width: $xl) {
            font-size: 32px;
        }
        &:last-child{
            margin: 0;
        }
    }
    .smallTitle{
        font-size: 16px;
        @media (min-width: $xl) {
            font-size: 20px;
        }
        
    }
    .speakersSubTitle{
        margin-bottom: 16px;
        &:last-child{
            margin: 0;
        }
    }
    .speakersBioList{
        @media (max-width: 374px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        .speakersBioItem{
            position: relative;
            padding: 14px;
            border-radius: 12px;
            background: $grey0F;
            overflow: hidden;
            text-align: center;
            z-index: 1; 
            @media (max-width: 374px) {
                padding: 10px;
            }
            @media (min-width: $sm) {
                padding: 20px;
            }
            @media (min-width: $md) {
                border-radius: 40px;
                text-align: start;
                margin: 0;
                margin-bottom: 16px;
            }
            @media (min-width: $xl) {
                padding: 30px;
                margin-bottom: 30px;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: $grey18;
                transition: all 0.2s;
                z-index: -1;
            }
            &:hover{
                &::before{
                    opacity: 1;
                    transition: all 0.2s;
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
            .speakersBioIner{
                .speakersImageWrapper{
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    overflow: hidden;
                    @media (min-width: $sm) {
                        width: 100px;
                        height: 100px;
                    }
                    @media (min-width: $xl) {
                        width: 120px;
                        height: 120px;
                    }
                    @media (min-width: $xxxl) {
                        width: 175px;
                        height: 175px;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }
                .speakersContentWrapper{
                    margin: 0;
                }
            }
            .speakersButton{
                font-size: 14px;
                padding: 8px 16px;
                border-radius: 50px;
                color: $white;
                background: linear-gradient(180deg, $secondary 0%, $primary 100%);
                transition: all 0.4s;
                @media (min-width: $sm) {
                    font-size: 16px;
                    padding: 10px 20px;
                }
                @media (min-width: $xl) {
                    font-size: 18px;
                }
                @media (min-width: $xxxl) {
                    font-size: 24px;
                }
            }
        }
    }
    .speakerBioBoxBG{
        background-color: #000000d9;
    }
    .speakerBioBox{
        .speakerBioBoxInner{
            padding: 14px;
            border-radius: 12px;
            background: linear-gradient(180deg, $secondary 0%, $primary 100%);
            @media (min-width: $sm) {
                padding: 20px;
            }
            @media (min-width: $md) {
                border-radius: 40px;
            }
            @media (min-width: $xl) {
                padding: 30px;
            }
           
            .speakersContentWrapper{
                padding-top: 10px;
                @media (min-width: $sm){
                    padding-top: 20px;
                }
                .speakersTitle{
                    font-size: 20px;
                    line-height: 1.18;
                    margin-bottom: 6px;
                    text-align: center;
                    @media (min-width: $sm) {
                        font-size: 26px;
                        text-align: start;
                        margin-bottom: 8px;
                    }
                    @media (min-width: $xl) {
                        font-size: 30px;
                        margin-bottom: 10px;
                    }
                    &:last-child{
                        margin: 0;
                    }
                }
                .speakersSubTitle{
                    text-align: center;
                    @media (min-width: $sm) {
                        text-align: start;
                    }
                }
                .speakersDescription{
                    font-size: 14px;
                    line-height: 1.4;
                    overflow-y: auto;
                    max-height: calc(100vh - 274px);
                    @media (min-width: $sm) {
                        max-height: calc(100vh - 298px);
                    }
                    @media (min-width: $md) {
                        font-size: 16px;
                    }
                    @media (min-width: $xl) {
                        max-height: calc(100vh - 340px);
                    }
                    @media (min-width: $xxxl) {
                        max-height: calc(100vh - 380px);
                    }
                    &::-webkit-scrollbar {
                        width: 8px;
                        height: 8px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $grey0F;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: transparent;
                    }
                    p{
                        font-size: 12px;
                        line-height: 1.4;
                        margin-bottom: 8px;
                        @media (min-width: $md) {
                            font-size: 16px;
                            margin-bottom: 10px;
                        }
                        &:last-child{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

.speakersImageWrapper{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 0 auto;
    overflow: hidden;
    @media (min-width: $sm) {
        width: 100px;
        height: 100px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    p{
        color: white;
    }
}
