@import '@/assets/scss/partial.scss';
@import '@/assets/scss/variables.scss';

.AboutBsidesAhmedabadWrapp{
    position: relative;
    overflow: hidden;
    z-index: 1;
    .Desription{
        margin-top: 16px;
        @media (min-width: $sm ) {
           margin-top: 24px;
        }
        p{
            margin-bottom: 10px;
            @media (min-width: $sm ) {
                margin-bottom: 16px;
            }
            &:last-child{
                margin: 0;
            }
        }
    }
    .AnimateCircle{
        z-index: -1;
    }
}