/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/(pages)/overview/security-bsides-ahmedabad/_components/AboutBsidesAhmedabad/aboutBsidesAhmedabad.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.aboutBsidesAhmedabad_AboutBsidesAhmedabadWrapp__yEQmT {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.aboutBsidesAhmedabad_AboutBsidesAhmedabadWrapp__yEQmT .aboutBsidesAhmedabad_Desription__Y5aTx {
  margin-top: 16px;
}
@media (min-width: 640px) {
  .aboutBsidesAhmedabad_AboutBsidesAhmedabadWrapp__yEQmT .aboutBsidesAhmedabad_Desription__Y5aTx {
    margin-top: 24px;
  }
}
.aboutBsidesAhmedabad_AboutBsidesAhmedabadWrapp__yEQmT .aboutBsidesAhmedabad_Desription__Y5aTx p {
  margin-bottom: 10px;
}
@media (min-width: 640px) {
  .aboutBsidesAhmedabad_AboutBsidesAhmedabadWrapp__yEQmT .aboutBsidesAhmedabad_Desription__Y5aTx p {
    margin-bottom: 16px;
  }
}
.aboutBsidesAhmedabad_AboutBsidesAhmedabadWrapp__yEQmT .aboutBsidesAhmedabad_Desription__Y5aTx p:last-child {
  margin: 0;
}
.aboutBsidesAhmedabad_AboutBsidesAhmedabadWrapp__yEQmT .aboutBsidesAhmedabad_AnimateCircle__baqEy {
  z-index: -1;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/(pages)/overview/security-bsides-ahmedabad/_components/SecurityHeroBanner/securityHeroBanner.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.securityHeroBanner_securityHeroBanner__IwD_r {
  padding: 110px 0 50px;
  z-index: 1;
}
.securityHeroBanner_securityHeroBanner__IwD_r::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
  z-index: -1;
}
@media (min-width: 640px) {
  .securityHeroBanner_securityHeroBanner__IwD_r {
    padding: 160px 0 80px;
  }
}
@media (min-width: 768px) {
  .securityHeroBanner_securityHeroBanner__IwD_r {
    padding: 160px 0 100px;
  }
}
@media (min-width: 1200px) {
  .securityHeroBanner_securityHeroBanner__IwD_r {
    padding: 220px 0 180px;
  }
}
@media (min-width: 1441px) {
  .securityHeroBanner_securityHeroBanner__IwD_r {
    padding: 240px 0;
  }
}
@media (min-width: 1630px) {
  .securityHeroBanner_securityHeroBanner__IwD_r {
    padding: 280px 0;
  }
}
.securityHeroBanner_securityHeroBanner__IwD_r .securityHeroBanner_heroTitleWraper__bUqM1 {
  max-width: 1158px;
  margin: 0 auto;
}
.securityHeroBanner_securityHeroBanner__IwD_r .securityHeroBanner_heroTitleWraper__bUqM1 .securityHeroBanner_heroTitleInner__Q3dU0 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 640px) {
  .securityHeroBanner_securityHeroBanner__IwD_r .securityHeroBanner_heroTitleWraper__bUqM1 .securityHeroBanner_heroTitleInner__Q3dU0 {
    display: block;
  }
}
.securityHeroBanner_securityHeroBanner__IwD_r .securityHeroBanner_heroTitleWraper__bUqM1 .securityHeroBanner_heroTitleInner__Q3dU0 br {
  display: none;
}
@media (min-width: 640px) {
  .securityHeroBanner_securityHeroBanner__IwD_r .securityHeroBanner_heroTitleWraper__bUqM1 .securityHeroBanner_heroTitleInner__Q3dU0 br {
    display: block;
  }
}
.securityHeroBanner_securityHeroBanner__IwD_r .securityHeroBanner_heroTitleInner2__ioQht {
  margin-bottom: 10px;
}
.securityHeroBanner_securityHeroBanner__IwD_r img {
  width: 12y0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .securityHeroBanner_securityHeroBanner__IwD_r img {
    width: 180px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1024px) {
  .securityHeroBanner_securityHeroBanner__IwD_r img {
    width: 250px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .securityHeroBanner_securityHeroBanner__IwD_r img {
    margin-bottom: 40px;
  }
}
@media (min-width: 1630px) {
  .securityHeroBanner_securityHeroBanner__IwD_r img {
    margin-bottom: 60px;
  }
}
.securityHeroBanner_securityHeroBanner__IwD_r .securityHeroBanner_bgImage__gCJV5 {
  object-position: top;
  z-index: -2;
}
@media (min-width: 640px) {
  .securityHeroBanner_securityHeroBanner__IwD_r .securityHeroBanner_bgImage__gCJV5 {
    object-position: center;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/Breadcrumb/breadcrumb.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.breadcrumb_breadcrumbWrapp__ZEtjD {
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .breadcrumb_breadcrumbWrapp__ZEtjD {
    margin-bottom: 24px;
  }
}
.breadcrumb_breadcrumbWrapp__ZEtjD:last-child {
  margin: 0;
}
.breadcrumb_breadcrumbWrapp__ZEtjD li {
  position: relative;
  padding-right: 10px;
  margin-right: 6px;
}
@media (min-width: 640px) {
  .breadcrumb_breadcrumbWrapp__ZEtjD li {
    padding-right: 14px;
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  .breadcrumb_breadcrumbWrapp__ZEtjD li {
    padding-right: 18px;
    margin-right: 14px;
  }
}
.breadcrumb_breadcrumbWrapp__ZEtjD li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 6px;
  height: 6px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
}
@media (min-width: 640px) {
  .breadcrumb_breadcrumbWrapp__ZEtjD li::before {
    width: 8px;
    height: 8px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
  }
}
@media (min-width: 768px) {
  .breadcrumb_breadcrumbWrapp__ZEtjD li::before {
    width: 10px;
    height: 10px;
  }
}
.breadcrumb_breadcrumbWrapp__ZEtjD li:last-child {
  margin: 0;
  padding: 2px 10px;
  color: #933AFA;
}
.breadcrumb_breadcrumbWrapp__ZEtjD li:last-child::before {
  display: none;
}
.breadcrumb_breadcrumbWrapp__ZEtjD li, .breadcrumb_breadcrumbWrapp__ZEtjD a {
  font-size: 11px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .breadcrumb_breadcrumbWrapp__ZEtjD li, .breadcrumb_breadcrumbWrapp__ZEtjD a {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .breadcrumb_breadcrumbWrapp__ZEtjD li, .breadcrumb_breadcrumbWrapp__ZEtjD a {
    font-size: 16px;
  }
}
.breadcrumb_breadcrumbWrapp__ZEtjD li:hover, .breadcrumb_breadcrumbWrapp__ZEtjD a:hover {
  color: #933AFA;
}
.breadcrumb_breadcrumbWrapp__ZEtjD a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
