@import '@/assets/scss/partial.scss';
@import '@/assets/scss/variables.scss';

// .CFPContentWrapper {
//     background-color: $white;
// }

.bulletPoint{
    padding-left: 20px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: white;
    }
}
// .formBox{
//     width: 640px;
//     margin: 0 auto;
//     border: 1px solid white;
// }