@import '@/assets/scss/partial.scss';
@import '@/assets/scss/variables.scss';

.termsAndConditionsWrapper{
    .termsAndConditionList{
        .termsAndConditionItem{
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            padding: 10px;
            padding-left: 32px !important;
            background-color: $grey0F;
            border-bottom: 1px solid $black;
            position: relative;
            @media (min-width: $md){
                font-size: 16px;
                padding: 16px;
                padding-left: 40px !important;
            }
            @media (min-width: $lg){
                font-size: 18px;
                padding: 20px;
            }
            @media (min-width: $xl){
                padding-left: 54px !important;
            }
            @media (min-width: $xxl){
                padding: 30px;
            }
            &::before{
                content: '';
                position: absolute;
                top: 18px;
                left: 14px;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background: $white;
                @media (min-width: $md){
                    width: 10px;
                    height: 10px;
                    top: 22px;
                    left: 20px;
                }
                @media (min-width: $lg){
                    top: 28px;
                }
                @media (min-width: $xl){
                    left: 30px;
                }
                @media (min-width: $xxl){
                    top: 38px;
                }
            }
            &:last-child{
                border: none;
            }
            ol{
                opacity: 0.6;
                padding-left: 24px;
                margin-top: 10px;
                @media (min-width: $lg){
                    margin-top: 16px;
                }
                li{
                    font-size: 12px;
                    line-height: 1.4;
                    list-style-type: auto;
                    margin-bottom: 10px;
                    @media (min-width: $md){
                        font-size: 14px;
                    }
                    @media (min-width: $lg){
                        font-size: 16px;
                    }
                }
            }
        }
    }
}